.boxStyle_01 {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
    margin-bottom: 2px;
    background-color: #BB7744DD;
    border: #663322EE solid 1px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    color: #221100EE;
    filter: drop-shadow(2px 1px 1px #22222299);
    white-space: nowrap;
    overflow:hidden;
}


#daySelectedOverlay {
    position: absolute;
    right: -2px;
    top: 10px;
    width: 600px;
    height: 95%;
    background-color: #CCCCCCEE;
    border: #000000 solid 2px;
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
    visibility:hidden;
}

#toggleRight {
    cursor: pointer;
}

#toggleRight:disabled {
    cursor: not-allowed;
}

#menuMain {
    padding: 0px;
    margin: 0px;
    height: 210px;
    width: 55px;
    position: fixed;
    right: 0px;
    top: 10px;
    background-color: #eeeeee00;
    border: none;
    z-index: 20;
}

.button {
    position: static;
    right: 0px;
    width: 45px;
    height: 45px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    border: outset 1px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    margin-left: auto;
    cursor: pointer;
}

#portOfCallList, #shipDetails, #travelInfo, #emergancyInfo, #configOptions {
    position: absolute;
    right: calc(-100% + 47px);
    top: 5px;
    width: calc(100% - 57px);
    height: calc(100% - 18px);
    background-color: #a3928aF0;
    border: #994422 solid 2px;
    border-radius: 8px;
    padding: 2px;
    margin: auto;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;
}

#shipDetails {
    background-image: url("../images/GETAWAY-ship-mobile-2018.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    #shipDetails div {
        position: relative;
        padding: 8px;
        background-color: #192c4477;
        left: -5px;
        top: -5px;
        height: 100%;
        width: 100%;
    }
    #shipDetails td {
        background-color: #efefffbb;
        border-radius: 3px;
        padding: 0px 2px 0px 2px;
        font-size: 18px;
        color: #222255;
        width: 50%;
    }

    #shipDetails input[type=text] {
        font-size: 18px;
        border: #00000000 solid 1px;
        border-radius: 3px;
        background-color: #FFFFFF00;
        text-align: left;
        width: 140px;
    }

#shipDetails input[type=button] {
    width: 120px;
    text-align: center;
    font-size:18px;
    display:none;
}

#travelInfo {
    background-image: url("../images/clouds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #travelInfo td {
        background-color: #efefff99;
        border-radius: 3px;
        padding: 0px 2px 0px 2px;
        width: 50%;
        font-size: 18px;
        color: #222255;
    }

    #travelInfo input[type=text] {
        font-size: 19px;
        border: #00000000 solid 1px;
        border-radius: 3px;
        background-color: #FFFFFF00;
        text-align: left;
        width: 145px;
    }

#alertPanel {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 147px);
    width: 240px;
    height: 150px;
    padding: 2px;
    font-size: 12px;
    text-align:center;
    border: #FF0000 2px solid;
    border-radius: 5px;
    background-color: #FFFFFFF0;
    z-index: 30;
    display: none;
}