.boxStyle_01 {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
    margin-bottom: 2px;
    background-color: #BB7744DD;
    border: #663322EE solid 1px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    color: #221100EE;
    filter: drop-shadow(2px 1px 1px #22222299);
    white-space: nowrap;
    overflow:hidden;
}


#daySelectedOverlay {
    position: absolute;
    right: -2px;
    top: 10px;
    width: 600px;
    height: 95%;
    background-color: #CCCCCCEE;
    border: #000000 solid 2px;
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
    visibility:hidden;
}

#toggleRight {
    cursor: pointer;
}

#toggleRight:disabled {
    cursor: not-allowed;
}

#menuMain {
    padding: 0px;
    margin: 0px;
    height: 210px;
    width: 55px;
    position: fixed;
    right: 0px;
    top: 10px;
    background-color: #eeeeee00;
    border: none;
    z-index: 20;
}

.button {
    position: static;
    right: 0px;
    width: 45px;
    height: 45px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    border: outset 1px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    margin-left: auto;
    cursor: pointer;
}

#portOfCallList, #shipDetails, #tripMap, #emergancyInfo, #configOptions {
    position: absolute;
    right: calc(-100% + 47px);
    top: 5px;
    width: calc(100% - 57px);
    height: calc(100% - 18px);
    background-color: #FFFEEEAA;
    border: #994422 solid 2px;
    border-radius: 8px;
    padding: 2px;
    margin: auto;
    z-index: 10;
    visibility: hidden;
}