.boxStyle_01 {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    margin: auto;
    margin-bottom: 2px;
    background-color: #FFFFFFBB;
    border: #000000ee solid 1px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #222255;
    filter: drop-shadow(2px 1px 1px #22222299);
    white-space: nowrap;
    overflow: hidden;
}


.daySelectedOverlay {
    position: absolute;
    right: -2px;
    top: 10px;
    width: calc(100% - 8px);
    height: 95%;
    background-color: #CCCCCCDD;
    border: #000000 solid 2px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    visibility: hidden;
    overflow-y: auto;
    overflow-x:hidden;
}

.daySelectedOverlay::-webkit-scrollbar {
    display: none;
}

#daySelectHeader{
    width:100%;
    background-color: #ffffff00;
    border: 0px;  
}

#daySelectHeader td {
    border: 0px;
    padding: 0px 2px 0px 2px;
}

.dayActivityItem {
    margin-top: 2px;
    margin-left: 1px;
    border-radius: 5px;
    border: #ffffffaa solid 1px;
    filter: drop-shadow(0px 1px 1px #00000055);
}
.dayActivityItem td {
    background-color: #ffffffaa;
    padding: 1px 2px 0px 2px;
    font-size: 18px;
    text-align: left;
    vertical-align: top;
    color: #222255;
}

.dayActivityItem input, textarea {
    border: 0px;
    background-color: #ffffff11;
    padding: 0;
    font-size: 16px;
    text-align: left;
    color: #222299;
    width: calc(100% - 4px);
    padding: 0px;
    margin: 0px;
}
#toggleRight {
    cursor: pointer;
}

#toggleRight:disabled {
    cursor: not-allowed;
}

#menuMain {
    padding: 0px;
    margin: 0px;
    height: 210px;
    width: 55px;
    position: fixed;
    right: 0px;
    top: 10px;
    background-color: #eeeeee00;
    border: none;
    z-index: 20;
}

.button {
    position: static;
    right: 0px;
    width: 45px;
    height: 45px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    border: outset 1px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    margin-left: auto;
    cursor: pointer;
}

#portOfCallList, #shipDetails, #travelInfo, #emergancyInfo, #configOptions {
    position: absolute;
    right: calc(-100% + 47px);
    top: 5px;
    width: calc(100% - 57px);
    height: calc(100% - 18px);
    background-color: #4070A0F0;
    border: #112244 solid 1px;
    border-radius: 8px;
    padding: 2px;
    margin: auto;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;
}

#shipDetails, #travelInfo {
    background-image: url("../images/GETAWAY-ship-mobile-2018.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    #shipDetails div {
        position: relative;
        padding: 8px;
        background-color: #192c4477;
        left: -5px;
        top: -5px;
        height: 100%;
        width: 100%;
    }
    #shipDetails td {
        background-color: #efefffbb;
        border-radius: 3px;
        padding: 0px 2px 0px 2px;
        font-size: 18px;
        color: #222255;
        width: 50%;
    }

    #shipDetails input[type=text] {
        font-size: 18px;
        border: #00000000 solid 1px;
        border-radius: 3px;
        background-color: #FFFFFF00;
        text-align: left;
        width: 140px;
    }

    #shipDetails input[type=button] {
        width: 120px;
        text-align: center;
        font-size:18px;
        display:none;
    }

#travelInfo {
    background-image: url("../images/clouds.jpg");
}

    #travelInfo td {
        background-color: #efefff99;
        border-radius: 3px;
        padding: 0px 2px 0px 2px;
        width: 50%;
        font-size: 18px;
        color: #222255;
    }

    #travelInfo input[type=text] {
        font-size: 19px;
        border: #00000000 solid 1px;
        border-radius: 3px;
        background-color: #FFFFFF00;
        text-align: left;
        width: 145px;
    }

.popUpDefaultStyle {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 147px);
    width: 240px;
    height: 150px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    border: #8899CC 2px solid;
    border-radius: 5px;
    background-color: #FFFFFFE0;
    z-index: 30;
}

.configRolloutHeading {
    height: 25px;
    width: calc(100% - 4px);
    margin: auto;
    margin-top: 4px;
    text-align: center;
    font-size: 18px;
    background-color: #eeddaacc;
    border: #f57800 1px solid;
    border-radius: 10px;
    cursor:pointer;
}
.configRolloutPanel {
    height: 0px;
    width: calc(100% - 22px);
    margin: auto;
    border: #e56800 1px solid;
    background-color: #999;
    overflow: hidden;
    display:none;
}